<div id="showmapplace">
	<!-- <ul>
	<li id="eventName">{{event_name}}</li>
	<li id="people">{{people}}</li>
	<li id="place_name">{{place_name}}</li>
	</ul> -->
	<div style="width:80%; height:100%; text-align:left; padding-left:10%; padding-right:10%;">
		<h2 id="eventName" style="margin-bottom:10px;">{{place_name}}</h2>
		<p style="margin:5px; font-size: 10px;">现在名：{{now_name}}</p>
		<p style="margin:5px; font-size: 10px;">朝代：{{dynasty_name}}</p>
		<p id="dynasty_id" style="margin:5px; font-size: 10px; display:none">{{dynasty_id}}</p>
		<p style="margin:5px; font-size: 5px;">坐标：{{place_loc}}</p>
	
	</div>
		</br>	</br>	</br>
	<button id="showDetail" class="eventEdit" place={{place_id}}>编辑</button>
	<button id="closePopup" class="eventClose" pid={{place_id}}>关闭</button>
	
</div>