<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Struts 2 Fileupload </display-name>
  <filter>
    <filter-name>struts2-cleanup</filter-name>
    <filter-class> 
            org.apache.struts2.dispatcher.ActionContextCleanUp
        </filter-class>
  </filter>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class> 
            org.apache.struts2.dispatcher.FilterDispatcher
        </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2-cleanup</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>   
        	/WEB-INF/applicationContext.xml
        </param-value>
  </context-param>
  <filter>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <url-pattern>/action/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Connector</servlet-name>
    <servlet-class>                            
          net.fckeditor.connector.ConnectorServlet 
      </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connector</servlet-name>
    <url-pattern>                                
        /fckeditor/editor/filemanager/connectors/* 
      </url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>structs2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>structs2</filter-name>
    <url-pattern>/action/*</url-pattern>
  </filter-mapping>
    <filter-mapping>  
        <filter-name>encodingFilter</filter-name>  
        <url-pattern>*。jsp</url-pattern>  
    </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>